body {
    background-color: #fff;
    margin: 1px;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

footer {
    margin-top: 100px;
}

footer p {
    margin: 1px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 200%;
    margin-top: 150px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    transition-property: color;
    color: rgb(0, 17, 255);
}

.main_menu {
    text-align: center !important;
    display: inline-block;
    height: 80vh;
    width: 230px;
    padding: 40px;
    border-style: ridge;
    background-color: #f0f8ff;
    font-weight: bold;
    font-size: larger;
}

.main_menu a:hover {
    transition-property: color;
    color: #fff;
    background-color: #000000;
}

.page {
    position: absolute;
    display: inline-block;
    width: 72%;
    padding: 43px;
    height: 800px;
}

.main_menu img {
    width: 200px;
}

.main_menu h2 {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 50px;
}

.main_menu li {
    padding: 5%;
}

.main_menu a {
    color: #000000;
    padding: 1%;
}

.page h2 {
    color: #ccb78f;
    text-align: center;
    font-size: 200%;
    margin-top: 10px;
    margin-bottom: 50px;
}

#social_media {
    text-align: center;
}

p a {
    text-decoration:underline;
}

#about {
    font-size: larger;
    padding: 100px;
    padding-right: 200px;
}

#contact {
    font-size: larger;
    text-align: center;
}

#contact li {
    padding: 1%;
}

#contact {
    padding-top: 3%;
}

#name {
    font-size: 300%;
}

.page li {
    padding: 0.5%;
}

#workExperience{
    margin-block-start: 0%;
    margin-block-end: 0%;
}

#position{
    margin-block-start: 0%;
    margin-block-end: 1px;
}

#date{
    margin-block-start: 5px;
}