body {
    background-color: #fff;
}

ul {
    list-style: none;
    padding-inline-start: 0%;
}

footer {
    padding-top: 2%;
}

footer p {
    margin: 0.3%;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 200%;
    line-height: 0%;
}

a {
    text-decoration: none;
    color: #000000;
}

.main_menu {
    text-align: center;
    display: inline-block;
    height: 850px;
    width: 12%;
    padding: 2%;
    border-style: ridge;
    background-color: #f0f8ff;
    font-weight: bold;
    font-size: larger;
}

.main_menu h2 {
    font-weight: bold;
}

.main_menu li {
    padding: 5%;
}

.page {
    position: absolute;
    display: inline-block;
    width: 72%;
    padding: 5%;
}

.page h2 {
    color: #ccb78f;
    text-align: center;
    font-size: 200%;
}

#social_media {
    text-align: center;
}

p a {
    text-decoration:underline;
}

#about {
    font-size:x-large;
}

#contact {
    font-size: larger;
    text-align: center;
}

#contact li {
    padding: 1%;
}

#contact {
    padding-top: 3%;
}

#name {
    font-size: 300%;
}

.page li {
    padding: 0.5%;
}